* {
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg);
    font-family: 'Inter', sans-serif;
}

/*Блокируем скролл, если много контента*/
.scroll-lock {
    overflow: hidden;
}

body.no-scroll {
    overflow: hidden;
}