@charset "UTF-8";
:root {
  --container-max-width: 1200px;
  --container-padding-inline: 15px;
  --black: #212121;
  --white: #ffffff;
  --grey: #ECF0F1;
  --orange: #FF7F50;
  --red: #C0392B;
  --yellow: #f4c075;
  --green: #A2D9CE;
  --blue: #3498DB;
  --body-bg: #ffffff;
  --logo-color: #FF7F50;
  --header-bg-color: #ECF0F1;
  --header-link-color: #000000;
  --header-link-hover-color: #FF7F50;
  --header-bg-cart-button: #FF7F50;
  --header-bg-cart-button-hover: #f4c075;
  --footer-bg: #212121;
  --hero-bg: #ffffff;
  --hero-button-color: #ECF0F1;
  --hero-button-color-hover: #ffffff;
  --hero-button-bg: #FF7F50;
  --hero-button-bg-hover: #f4c075;
  --catalog-bg-tabs: #FF7F50;
  --catalog-bg-button: #ffffff;
  --catalog-button-color: #000000;
  --catalog-button-color-hover: #FF7F50;
  --card-bg-color: #ffffff;
  --card-title-color: #000000;
  --card-text-color: gray;
  --card-price-color: #000000;
  --card-button-color: #ffffff;
  --card-button-color-hover: #ECF0F1;
  --card-button-bg-color: #f4c075;
  --card-button-bg-color-hover: #FF7F50;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: var(--body-bg);
  font-family: "Inter", sans-serif;
}

.orange {
  color: var(--orange);
}

.red {
  color: var(--red);
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-cyrillic_latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-cyrillic_latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-cyrillic_latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container {
  max-width: calc(var(--container-max-width) + var(--container-padding-inline) * 2);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-inline);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg path {
  fill: var(--logo-color);
}

.nav__link {
  text-decoration: none;
  font-size: 1.25rem;
}

.card {
  background-color: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
}
.card__image {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 225/200;
  border-radius: 10px;
  margin-bottom: 30px;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.card__title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  color: var(--card-title-color);
}
.card__description {
  max-width: 205px;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: var(--card-text-color);
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  border-top: 1px dotted black;
  padding-top: 30px;
  gap: 20px;
}
.card__price {
  font-size: 1.25rem;
  color: var(--card-price-color);
}
.card__button {
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  height: 50px;
  padding-inline: 27px;
  color: var(--card-button-color);
  background-color: var(--card-button-bg-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}
.card__button:hover {
  color: var(--card-button-color-hover);
  background-color: var(--card-button-bg-color-hover);
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  position: sticky;
  top: 0;
  z-index: 3;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nav {
  flex-grow: 1;
  margin-right: 20px;
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.header__nav-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--header-link-color);
  transition: color 0.3s ease;
  /*20px*/
}
.header__nav-link:hover {
  color: var(--header-link-hover-color);
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.header__button svg path {
  fill: var(--header-bg-cart-button);
  transition: fill 0.3s ease;
}
.header__button:hover svg path {
  fill: var(--header-bg-cart-button-hover);
}

.catalog__tabs-list {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}
.catalog__tabs-list::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 190px;
  background-color: var(--catalog-bg-tabs);
  z-index: -1;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.catalog__tabs-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 89px;
  padding-inline: 50px;
  background-color: var(--catalog-bg-button);
  color: var(--catalog-button-color);
  text-decoration: none;
  border-radius: 30px;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.3s ease;
  gap: 5px;
}
.catalog__tabs-button:hover {
  color: var(--catalog-button-color-hover);
}
.catalog__tab-grid {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 20px;
}

.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  background-color: var(--hero-bg);
  color: #000000;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__decoration {
  background-image: url("../images/hero/pizza.svg");
  width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 500px;
  /* Анимация */
  animation: rotatePizza 25s linear infinite;
  transform-origin: center;
  /* Точка вращения */
}
@keyframes rotatePizza {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 493px;
}
.hero__title {
  font-size: 4rem;
  margin-bottom: 20px;
  color: inherit;
}
.hero__description {
  font-size: 1.25rem;
  margin-bottom: 80px;
  color: inherit;
}
.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: self-start;
  height: 100px;
  padding-inline: 60px;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 30px;
  background-color: var(--hero-button-bg);
  color: var(--hero-button-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: relative;
}
.hero__button:hover {
  color: var(--hero-button-color-hover);
  background-color: var(--hero-button-bg-hover);
}
.hero__button::after {
  content: "";
  background-image: url("../images/hero/bolgarin.svg");
  width: 125px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -150px;
  left: -175px;
  animation: pulse 3s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) rotate(-45deg);
    opacity: 1;
  }
}
.hero__photo {
  border: 3px solid #FF7F50;
}

.footer {
  background-color: var(--footer-bg);
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--white);
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 50px;
  gap: 60px;
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 8/12;
  justify-self: end;
}
.footer__contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 1.25rem;
  color: inherit;
}
.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 15px;
  grid-column: 12/12;
}
.footer__copyright {
  color: var(--white);
  text-align: center;
}

.footer .nav__link {
  color: var(--white);
}