@use "../abstracts" as *;

.catalog {
    overflow-x: hidden;
    padding-top: 50px;

    &__tabs-list {
        background-color: var(--catalog-bg-tabs);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: stretch;
        padding-top: 25px;
        padding-bottom: 25px;
        position: relative;
        z-index: 1;
        border-radius: 30px;
        padding-inline: 12px;
        gap: 24px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        /* для Internet Explorer и Edge */
        scrollbar-width: none;

        /* для Firefox */
        &::-webkit-scrollbar {
            display: none;
        }

        &::-ms-scrollbar {
            display: none;
        }
    }

    // &__tabs-list::before {
    //     content: "";
    //     position: absolute;
    //     width: 100vw;
    //     height: 110px;
    //     background-color: var(--catalog-bg-tabs);
    //     z-index: -1;
    //     left: 50%;
    //     right: 0;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    // }

    &__tabs-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        height: 60px;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s ease, background-color .3s ease;
        gap: 10px;
        border-radius: 30px;
        padding-inline: 15px;
        @include color-style((background-color: var(--catalog-bg-button),
                color: var(--catalog-button-color),
                transition: all 0.3s ease,
            ),
            (background-color: var(--catalog-bg-button-hover),
                color: var(--catalog-button-color-hover),
            ));

        @media only screen and (max-width: 1024px) {
            font-size: .875rem; //20px
            height: 50px;
        }

    }

    &__tabs-icon {
        width: 40px;
        height: 40px;

        & path {
            fill: rgb(255, 255, 255);
        }
    }

    &__tab-grid {
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
        gap: 20px;
    }
}