.catalog {
    &__tabs-list {
        background-color: var(--black);
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        z-index: 1;
    }

    &__tabs-list::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 190px;
        background-color: var(--catalog-bg-tabs);
        z-index: -1;
        left: 50%;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__tabs-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 89px;
        padding-inline: 50px;
        background-color: var(--catalog-bg-button);
        color: var(--catalog-button-color);
        text-decoration: none;
        border-radius: 30px;
        font-weight: 400;
        text-transform: uppercase;
        transition: color .3s ease;
        gap: 5px;

        &:hover {
            color: var(--catalog-button-color-hover);
        }
    }

    &__tab-grid {
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
        gap: 20px;
    }
}