.footer {
    background-color: var(--footer-bg);
    padding-top: 50px;
    color: var(--white);
    font-size: 1.25rem; //20px

    @media only screen and (max-width: 1024px) {
        font-size: 1rem; //16px
    }

    @media only screen and (max-width: 768px) {
        padding-top: 25px;
        font-size: .875rem; //14px
    }

    &__grid {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        gap: 60px;

        @media only screen and (max-width: 768px) {
            gap: 30px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    &__contacts-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__contacts-link {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: inherit;
        transition: color .3s ease;

        &:hover {
            color: var(--link-color-hover);
        }
    }

    &__social-list {
        justify-self: end;
        display: flex;
        gap: 15px;
    }

    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition: color .3s ease;

        &:hover {
            color: var(--link-color-hover);
        }
    }

    &__copyright {
        text-align: center;
        border-top: 1px solid var(--yellow);
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.footer .nav__link {
    color: var(--white);
    transition: color .3s ease;

    &:hover {
        color: var(--link-color-hover);
    }
}