.header {
    padding-top: 25px;
    padding-bottom: 25px;
    position: sticky;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    // background-color: var(--header-bg-color);

    &__container {
        display: flex;
        align-items: center;
    }

    &__nav {
        flex-grow: 1;
        margin-right: 20px;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
    }

    &__nav-link {
        font-size: 1.25rem;
        text-decoration: none;
        color: var(--header-link-color);
        transition: color .3s ease;

        /*20px*/
        &:hover {
            color: var(--header-link-hover-color);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        width: 35px;
        height: 35px;
    }

    &__button svg path {
        fill: var(--header-bg-cart-button);
        transition: fill .3s ease;
    }

    &__button:hover svg path {
        fill: var(--header-bg-cart-button-hover);
    }
}