.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: var(--hero-bg);
    color: #000000;

    /* calc(100vh - var(--header-height)) */


    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        height: 100%;
        padding: 50px 50px 43px 50px;
        border-radius: 30px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--hero-color);
        font-size: 1.25rem; //20px
        backdrop-filter: blur(10px);

        @media only screen and (max-width: 1024px) {
            padding: 30px 30px 30px 30px;
            font-size: 1rem; //16px
        }

        @media only screen and (max-width: 600px) {
            font-size: .875rem; //14px
        }

        &--1 {
            background-image: url("../images/hero/slider/slider-bg-1.webp");
        }

        &--2 {
            background-image: url("../images/hero/slider/slider-bg-2.webp");
        }

        &--3 {
            background-image: url("../images/hero/slider/slider-bg-3.webp");
        }
    }

    // &__overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     backdrop-filter: blur(3px);
    //     background: rgba(255, 255, 255, 0.1);
    //     z-index: -1;
    // }

    &__title {
        max-width: 500px;
        font-size: 4rem; //64px
        font-family: 'Yeseva One', sans-serif;
        line-height: 1.5;

        @media only screen and (max-width: 1024px) {
            font-size: 3.1875rem; //51px
        }

        @media only screen and (max-width: 600px) {
            font-size: 2rem; //32px
        }
    }

    &__description {
        max-width: 400px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        height: 100px;
        padding-inline: 35px;
        border-radius: 30px;
        background-color: var(--hero-button-bg);
        color: inherit;
        font-weight: 700;
        text-decoration: none;
        transition: background-color .3s ease;

        @media only screen and (max-width: 1024px) {
            height: 80px;
        }

        @media only screen and (max-width: 600px) {
            align-self: auto;
            height: 60px;
            padding-inline: 25px;
        }
    }
}

.swiper {
    width: 100%;
    min-height: 540px;

    @media only screen and (max-width: 600px) {
        min-height: 300px;
    }
}

.swiper-slide {
    height: auto;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #f4c075;
    opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    opacity: 1;

    @media only screen and (max-width: 600px) {
        width: 5px;
        height: 5px;
    }
}