#modal {
    border: none;
    padding: 0;
}

.cart-wrapper {
    padding: 1em;
}

.open-button {
    font-size: 30px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

/*Cкрипт полифила не может создать псевдоэлемент ::backdrop, поэтому стили для него нужно дублировать и для <div> с классом .backdrop.*/
dialog::backdrop {
    background-color: rgb(0 0 0 / 70%);
}

dialog+.backdrop {
    background-color: rgb(0 0 0 / 70%);
}