:root {
  //container
  --container-max-width: 1200px;
  --container-padding-inline: 15px;
  --header-height: 100px;
  --link-color-hover: #FF7F50;
  //all colors
  --black: #212121;
  --white: #ffffff;
  --grey: #ECF0F1;
  --orange: #FF7F50;
  --red: #C0392B;
  --yellow: #f4c075;
  --green: #A2D9CE;
  --blue: #3498DB;
  //body
  --body-bg: #ffffff;
  // logo
  --logo-color: #FF7F50;

  //header
  --header-bg: #E49133;
  --header-link-color: #000000;
  --header-link-hover-color: #FF7F50;
  --header-bg-cart-button: #000000;
  --header-bg-cart-button-hover: #f4c075;
  //footer
  --footer-bg: #212121;
  //hero
  --hero-color: #ffffff;
  --hero-bg: #ECF0F1;
  --hero-button-color: #ECF0F1;
  --hero-button-color-hover: #ffffff;
  --hero-button-bg: #FF7F50;
  --hero-button-bg-hover: #f4c075;
  //catalog
  --catalog-bg-tabs: #ECF0F1;
  --catalog-bg-button: #FF7F50;
  --catalog-bg-button-hover: #f4c075;
  --catalog-button-color: #ECF0F1;
  --catalog-button-color-hover: #ECF0F1;
  //------------------------------------
  // card
  --card-bg-color: #ECF0F1;
  --card-title-color: #000000;
  --card-text-color: gray;
  --card-price-color: #000000;
  //
  --card-button-color: #ffffff;
  --card-button-color-hover: #ECF0F1;
  //
  --card-button-bg-color: #f4c075;
  --card-button-bg-color-hover: #FF7F50;
  //-------------------------------------
}